.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about_loader {
	margin: 0 auto;
	margin-top: 45vh;
}

.employee {
	display: flex;
	margin: 10px;
}

.avatar {
	height: 70px;
	width: 70px;
	background-color: #CCCCCC;
}

.text_wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	justify-content: space-between;
}
.name {
	font-weight: bold;
}

.back {
	font-size: 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 10px auto;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

.arrow_back {
	margin-right: 5px;
}